/* Font 1 */
@font-face {
  font-family: 'air';
  src: url('../fonts/air.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Font 2 */
@font-face {
  font-family: 'angel';
  src: url('../fonts/angel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Font 3 */
@font-face {
  font-family: 'croner';
  src: url('../fonts/croner.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Font 4 */
@font-face {
  font-family: 'nonair';
  src: url('../fonts/nonair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Font 5 */
@font-face {
  font-family: 'perfect';
  src: url('../fonts/perfect.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bagnard';
  src: url('../fonts/Bagnard.woff') format('woff');
}
